*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Geometria, sans-serif;
  background-color: #2C7580;
  color: #ccc;
}

.wrapper {
  margin: 0 auto;
  padding: 1rem 0 10rem;
}

li {
  list-style: none;
}

div {
  padding: 10px 20px;
  border-bottom: 1px solid #000;
}

div:last-of-type {
  border-bottom: 0px solid #000;
}

b {
  text-align: center;
  display: block;
  margin: 0 auto 20px;
  padding: 5px;
  font-size: 18px;
  background-color: tomato;
}

i {
  margin: 0 5px;
  font-size: 14px;
}