*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Geometria;
  background-color: #2C7580;
  color: #ccc;
}

/*безопасное скрытие элемента*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

li {
  list-style: none;
}

div {
  padding: 10px;
  border-bottom: 1px solid #000;
}