<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="меню">
  <link rel="shortcut icon" href="#" type="image/x-icon">
  <title>vieJs</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <!-- Декларативная отрисовка -->
  <div id="app">
    {{message}}
  </div>

  <div id="app-2">
    <span v-bind:title="message">
      Наведи на меня курсор на пару секунд,
      чтобы увидеть динамически связанное значение title!
    </span>
  </div>


  <!-- Условия и циклы -->
  <div id="app-3">
    <span v-if="seen">Сейчас меня видно</span>
  </div>

  <div id="app-4">
    <ol>
      <li v-for="key in value">{{key.li}}</li>
    </ol>
  </div>

  <!-- Работа с пользовательским вводом -->
  <div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage33">Перевернуть раба</button>
  </div>

  <div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message" type="text">
  </div>

  <!-- ------------- Разбиение приложения на компоненты -->
  <div id="app-7-a">
    <ol>
      <todo-item></todo-item>
    </ol>
  </div>

  <!--
    можно передать каждому компоненту todo-item объект
    с информацией о задаче, который будет динамически меняться.
    Мы также определяем для каждого компонента "key",
    значение которого мы разберём далее в руководстве.
    1: v-for
    2: v-bind
    3: v-bind
   -->

  <div id="app-7-b">
    <ol>
      <todo-item
        v-for="item in shitList"
        v-bind:todo="item"
        v-bind:key="item.id"
      ></todo-item>
    </ol>
  </div>





















  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/index.js"></script>
</body>

</html>